.footer {
  background-color: #1a1a1a;
  padding: 20px;
  font-family: Arial, sans-serif;
  color: #DCDCDC;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 4px solid #E9C13F;
}

.footerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.footerLogo {
  width: 100px;
  margin-right: 20px;
}

.footerBottom p {
  margin: 0;
  flex: 1;
  text-align: center;
  color: #DCDCDC;
}

.socialIcons {
  display: flex;
  gap: 15px;
  margin-left: 20px;
}

.socialIcons a {
  color: #1a1a1a;
  font-size: 18px;
  text-decoration: none;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9C13F;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.socialIcons a:hover {
  background-color: #ffc107;
  color: #fff;
}

.iconImage {
  width: 18px;
  height: 18px;
}

/* Media query untuk mobile */
@media (max-width: 768px) {
  .footerBottom {
    flex-direction: column; /* Ubah arah flex menjadi kolom */
    align-items: center; /* Pusatkan elemen */
    text-align: center; /* Pusatkan teks */
  }

  .footerLogo {
    margin-bottom: 10px; /* Tambahkan jarak antara logo dan teks */
  }

  /* Sembunyikan social icons di mode mobile */
  .socialIcons {
    display: none; /* Sembunyikan ikon sosial */
  }

  .footerBottom p {
    margin-top: 10px; /* Tambahkan margin di atas teks copyright */
  }
}
