@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.homepage {
  display: flex;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  color: #DCDCDC;
}

.sidebar {
  background-color: #1a1a1a;
  color: #DCDCDC;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  position: relative;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: auto;
}

.mainContent {
  text-align: left;
}

.mainContent h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.highlight {
  position: relative;
  display: inline-block;
}

.highlight::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #E9C13F;
  bottom: -5px;
  left: 0;
}

.mainContent p {
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 300px;
}

.learnMore {
  text-decoration: none;
  color: #DCDCDC;
  border-bottom: 2px solid #ffc107;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

.learnMore:hover {
  color: #ffc107;
}

.socialIcons {
  display: flex;
  gap: 15px;
  position: absolute;
  bottom: 40px;
  left: 40px;
}

.socialIcons a {
  color: #1a1a1a;
  font-size: 24px;
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9C13F;
  border-radius: 50%;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.socialIcons a:hover {
  background-color: #ffc107;
  color: #fff;
}

/* Styling untuk gambar ikon Threads */
.iconImage {
  width: 24px;
  height: 24px;
}

/* Tambahan styling */
.mainImage {
  width: 60%;
  height: 100vh;
  position: relative;
}

.imageOverlay {
  position: relative;
  width: 100%;
  height: 100%;
}

.imageOverlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textOverlay {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  padding: 20px 0;
}

.textItem {
  text-align: center;
  color: #DCDCDC;
}

.textItem h3 {
  margin: 0;
  font-size: 18px;
}

.textItem p {
  margin: 5px 0 0;
  font-size: 14px;
}

@media only screen and (max-width: 768px) {
  .homepage {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 100%;
    padding: 20px;
    text-align: center;
  }

  .logo {
    display: none; /* Hapus logo pada mode mobile */
  }

  .mainContent {
    margin-top: 20px;
    text-align: center;
  }

  .mainContent h1 {
    font-size: 32px;
  }

  .mainContent p {
    font-size: 16px;
    margin: 10px auto;
  }

  .learnMore {
    margin: 15px 0;
  }

  .socialIcons {
    justify-content: center;
    position: static;
    margin-top: 15px;
  }

  .mainImage {
    width: 100%;
    height: auto;
    order: -1;
  }

  .imageOverlay img {
    height: 300px;
    object-fit: cover;
  }

  .textOverlay {
    display: flex;
    flex-direction: column; /* Ubah menjadi kolom pada mobile */
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    margin-top: 30px; /* Geser teks lebih ke bawah */
  }

  .textItem {
    text-align: center;
    margin-bottom: 10px;
    width: 100%; /* Pastikan tiap elemen memenuhi lebar */
  }

  .textItem h3 {
    font-size: 14px;
  }

  .textItem p {
    font-size: 12px;
  }
}
