.sidebar {
  width: 72px;
  height: 100vh;
  background-color: #FFDC7F;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10000;
  overflow: hidden;
}

.logoContainer {
  display: none; /* Sembunyikan logo pada desktop */
}

.iconContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 72px;
  right: -250px; /* Awalnya tersembunyi di luar layar */
  transition: right 0.5s ease-in-out;
}

.showMenu {
  right: 50px; /* Tampilkan ikon tepat di sebelah kiri hamburger */
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 72px;
  margin: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  box-sizing: border-box;
  cursor: pointer;
}

.iconBackground {
  background-color: #FFDC7F; /* Warna latar belakang bulat */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.icon {
  font-size: 24px;
  color: #1a1a1a;
}

.iconWrapper.active {
  color: #ffffff;
}

.text {
  font-size: 12px;
  color: #1a1a1a;
  text-align: center;
}

.hamburgerIcon {
  display: none;
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .sidebar {
    width: 100%; /* Sidebar mengambil lebar penuh layar */
    height: 72px;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: row;
    padding: 0;
    background-color: #FFDC7F;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
  }

  .logoContainer {
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;
  }

  .logo {
    width: 90px;
    height: auto;
  }

  .hamburgerIcon {
    display: block; /* Tampilkan hamburger icon di mobile */
    padding-right: 10px;
    margin-right: 10px;
    font-size: 28px;
    color: #1a1a1a;
    cursor: pointer;
  }

  .iconContainer {
    position: fixed;
    top: 72px;
    right: -250px; /* Awalnya tersembunyi di luar layar */
    width: auto;
    background-color: transparent; /* Hapus background kuning */
    transition: right 0.5s ease-in-out;
    z-index: 9999;
    flex-direction: column; /* Tata letak vertikal */
    justify-content: center;
    align-items: center;
  }

  .showMenu {
    right: 50px; /* Geser ikon tepat di bawah hamburger */
  }

  .iconWrapper {
    width: 72px;
    margin: 10px 0; /* Jarak antar ikon */
  }

  .iconBackground {
    background-color: #FFDC7F; /* Warna latar belakang bulat */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
  }

  .text {
    display: block; /* Tampilkan teks di bawah ikon */
    font-size: 12px;
    color: #1a1a1a;
  }
}
